modules = ["web", "nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run Web Server"

[[workflows.workflow]]
name = "Run Web Server"
author = 30429636
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 5000"
